.Recipes {
    min-height: calc(100vh - 135px);
    margin: 10px 10%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
    padding-bottom: 35px;

    .Recipes_empty {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        font-size: 32px;
        color: #323C41;
    }

    .Paginator {
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

@media (max-width: 575px) {
    .Recipes {
        min-height: calc(100vh - 195px);
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 265px) {
    .Recipes {
        min-height: calc(100vh - 230px);
    }
}