.RecipeDetail {
    min-height: calc(100vh - 150px);
    margin: 10px 10%;
    padding: 100px 0;

    .Carousel_Wrapper {
        width: 50%;
        margin: 0 25%;

        .ant-carousel .slick-slide {
            text-align: center;
            height: 450px;
            overflow: hidden;
          }

          .ant-carousel .slick-dots-bottom {
            bottom: -7px;
        }

        .slick-dots {
            height: auto;
            button {
                background: gray!important;
            }
        }
    }

    @media (max-width: 750px) {
        .Carousel_Wrapper {
            width: 100%;
            margin: 0;
        }
    }

    
}

@media (max-width: 575px) {
    .RecipeDetail {
        min-height: calc(100vh - 195px);
    }
}

@media (max-width: 265px) {
    .RecipeDetail {
        min-height: calc(100vh - 230px);
    }
}

.Recipes {
    min-height: calc(100vh - 135px);
    margin: 10px 10%;
    display: flex;
    flex-grow: 1;
}

@media (max-width: 575px) {
    .Recipes {
        min-height: calc(100vh - 195px);
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 265px) {
    .Recipes {
        min-height: calc(100vh - 230px);
    }
}