.RecipeHistory {
    border: 1px solid #1890ff;
    border-radius: 15px;
    padding: 15px;
    height: 450px;
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Recipe_Title {
        margin-top: 20px;
        font-size: 32px;
        color: #1890ff;
        text-align: center;
    }

    .Recipe_Description {
        font-size: 18px;
        text-align: center;
    }

    .Recipe_Guide, .Recipe_Ingredients {
        min-height: 70px;
        font-size: 14px;
        align-self: start;
        width: 100%;

        border-top: 1px solid #ff1878;

        display: flex;
        align-items: center;
    }

    .Recipe_Guide {
        margin-top: 10px;
    }

    .Recipe_Ingredients {
        border-bottom: 1px solid #ff1878;
    }

    .Recipe_Created {
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 12px;
    }

    .Recipe_Version {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #ff1878;
    }
}